.uiRow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	justify-items: flex-start;
	align-content: center;
	align-items: center;
	margin: 8px 0;
}

.uiRow p {
	margin: 0 4px;
	font-size: 11pt;
	font-weight: 400;
}
