/* CSS variables
 * Please use all lowercase letters, and dashes to separate words.
 * The component for which the variable is defined should lead the
 * variable name, followed by what style it is configured for,
 * abbreviated where convenient (e.g., background -> bg).
 */
:root {
	/* General */
	--page-width: 768px;

	/* Navbar */
	--navbar-height: 48px;

	/* Colors */
	--background-color:      #18181c;
	--background-color-alt:  #202028;
	--midground-color:       #404048;
	--midground-color-alt:   #606069;
	--foreground-color:      #f0f0f8;
	--foreground-color-alt:  #80808a;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background-color: var(--background-color);
}

.page {
	margin: auto;
	padding: 0;
	max-width: 768px;
}
